<ion-header [translucent]="true">
  <ion-toolbar class="homeToolbar">
    <ion-img class="titleLogo" src='assets/logo.png'></ion-img>
    <svg aria-hidden="true" focusable="false" (click)="showSearch()" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-virtual-scroll [items]="dataBlocks" [headerFn] = "listHeader">
    <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item-group class="articleItem" *virtualItem="let item" [hidden]="emptyCarousel(item)">
      <ion-label class="collectionHeader" >
        <svg *ngIf="this.mode && item.category" (click)="assignCategory(item)" data-prefix="far" data-icon="bookmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-bookmark fa-w-12 fa-3x"><path fill="currentColor" d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z" class=""></path></svg>      
        <div>{{item.title}}</div>
      </ion-label>
      <ion-item class="collectionCarousel">
        <div *ngIf="isDesktop()">
          <div class="swiper-button-next" (click)="swipeNext(item._id)"></div>
          <div class="swiper-button-prev" (click)="swipePrev(item._id)"></div>
        </div>
        <ion-slides [options]="slideOptions" id={{item._id}}>    
          <ion-slide *ngFor="let subItem of item.articles">
            <ion-img class="cell-image" src={{subItem.top_image}}></ion-img>
            <div class=titleTopShadow></div>
            <div class="infoBlock">
              <div class="titleBottomShadow tooltip">              
                <a *ngIf="true" (click)="openArticle(subItem)"><h1 class="titleText">{{subItem.title}}</h1></a>

                <span *ngIf="false" class="tooltiptext">Outlet Score: {{subItem.outlet_score}}</span>
              </div>
              <div class="menuRectangle">
                <ion-img class="favicon" src={{subItem.favicon}}></ion-img>
                <div class="sourceText"><span>{{subItem.outlet_identity}}</span></div>
              </div>  
            </div>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </ion-item-group>
  </ion-virtual-scroll>
</ion-content>